Repository MikeDevice/first-follow: changes, and which lint-staged commands are due for each by the changed paths.
All: nrun lint, nrun spellcheck

edit some styles
  src/index.scss
Due: none

add babel-plugin-lodash
  .babelrc
  package-lock.json
  package.json
Due: none

edit styles
  src/App/index.jsx
  src/App/main.scss
  src/components/Section/index.jsx
  src/components/Section/section.scss
  src/components/index.js
Due: nrun lint

add variables.scss file
  src/App/app.scss
  src/components/Table/table.scss
  src/variables.scss
  webpack/development.js
  webpack/production.js
Due: nrun lint

edit some styles
  src/App/app.scss
  src/App/main.scss
Due: none

add files for editor
  .eslintrc
  src/App/app.scss
  src/App/index.jsx
  src/components/Editor/editor.scss
  src/components/Editor/index.jsx
  src/components/index.js
Due: nrun lint

add editor view
  .eslintrc
  package-lock.json
  package.json
  src/components/Button/button.scss
  src/components/Button/index.jsx
  src/components/Editor/StatusBar/editor-status-bar.scss
  src/components/Editor/StatusBar/index.jsx
  src/components/Editor/Toolbar/editor-toolbar.scss
  src/components/Editor/Toolbar/index.jsx
  src/components/Editor/editor.scss
  src/components/Editor/index.jsx
  src/components/index.js
  src/index.scss
Due: nrun lint

add wysiwyg basics
  package-lock.json
  package.json
  src/components/Editor/Content/editor-content.scss
  src/components/Editor/Content/index.jsx
  src/components/Editor/StatusBar/index.jsx
  src/components/Editor/Toolbar/index.jsx
  src/components/Editor/editor.scss
  src/components/Editor/index.jsx
  webpack/development.js
  webpack/production.js
Due: nrun lint

working
  .eslintrc
  src/components/Editor/Content/editor-content.scss
  src/components/Editor/Content/index.jsx
  src/components/Editor/Content/useEditor/constants.js
  src/components/Editor/Content/useEditor/index.js
Due: nrun lint

temp
  .eslintrc
  src/components/Editor/Content/editor-content.scss
  src/components/Editor/Content/index.jsx
  src/components/Editor/Content/useEditor/constants.js
  src/components/Editor/Content/useEditor/decorators.jsx
  src/components/Editor/Content/useEditor/helpers.js
  src/components/Editor/Content/useEditor/index.js
Due: nrun lint

refactor
  src/components/Editor/Content/editor-content.scss
  src/components/Editor/Content/index.jsx
  src/components/Editor/Content/useEditor/index.js
Due: nrun lint

add empty chain
  src/components/Editor/Content/editor-content.scss
  src/components/Editor/Content/index.jsx
  src/components/Editor/Content/useEditor/constants.js
  src/components/Editor/Content/useEditor/decorators.jsx
  src/components/Editor/Content/useEditor/index.js
Due: nrun lint

update devDependencies
  CHANGELOG.md
  package-lock.json
  package.json
Due: nrun spellcheck

update CHANGELOG.md
  CHANGELOG.md
Due: nrun spellcheck

4.0.4
  package-lock.json
  package.json
Due: none

improve arrow styles and edit decorators
  src/components/Editor/Content/editor-content.scss
  src/components/Editor/Content/index.jsx
  src/components/Editor/Content/useEditor/constants.js
  src/components/Editor/Content/useEditor/decorators.jsx
  src/components/Editor/Content/useEditor/index.js
  src/components/Table/index.jsx
Due: nrun lint

refactor and make toolbar
  src/components/Editor/ContentEditor/editor-content.scss
  src/components/Editor/ContentEditor/index.jsx
  src/components/Editor/Toolbar/index.jsx
  src/components/Editor/index.jsx
  src/components/Editor/useEditor/constants.js
  src/components/Editor/useEditor/decorators.jsx
  src/components/Editor/useEditor/helpers.js
  src/components/Editor/useEditor/index.js
Due: nrun lint

remove useless decorators
  src/components/Editor/useEditor/index.js
Due: nrun lint

make a new way to decorators creating
  src/components/Editor/ContentEditor/editor-content.scss
  src/components/Editor/StatusBar/editor-status-bar.scss
  src/components/Editor/StatusBar/index.jsx
  src/components/Editor/index.jsx
  src/components/Editor/useEditor/decorators.jsx
  src/components/Editor/useEditor/helpers.js
  src/components/Editor/useEditor/index.js
Due: nrun lint

improve nonterminals decorators
  src/components/Editor/index.jsx
  src/components/Editor/useEditor/decorators.jsx
  src/components/Editor/useEditor/helpers.js
  src/components/Editor/useEditor/index.js
Due: nrun lint

refactor function
  src/components/Editor/useEditor/decorators.jsx
Due: none

improve decorators and refactor
  src/components/Editor/useEditor/decorators.jsx
  src/components/Editor/useEditor/index.js
Due: nrun lint

refactor
  src/components/Editor/index.jsx
  src/components/Editor/useEditor/index.js
Due: nrun lint

add arrows and empty chains removing
  src/components/Editor/useEditor/index.js
Due: nrun lint

change class name
  src/components/Editor/ContentEditor/editor-content-editor.scss
  src/components/Editor/ContentEditor/index.jsx
  src/components/Editor/useEditor/decorators.jsx
Due: none

add line numbers
  .eslintrc
  src/components/Editor/ContentEditor/editor-content-editor.scss
  src/components/Editor/editor.scss
  src/components/Editor/index.jsx
Due: none

optimize decorators setting
  src/components/Editor/useEditor/index.js
Due: nrun lint

refactor
  src/components/Editor/index.jsx
Due: none

add parsing
  src/App/index.jsx
  src/components/Editor/LineNumbers/editor-line-numbers.scss
  src/components/Editor/LineNumbers/index.jsx
  src/components/Editor/index.jsx
  src/components/Editor/useEditor/index.js
Due: nrun lint

refactor
  src/components/Editor/RowsNumbers/editor-rows-numbers.scss
  src/components/Editor/RowsNumbers/index.jsx
  src/components/Editor/Toolbar/index.jsx
  src/components/Editor/editor.scss
  src/components/Editor/index.jsx
  src/components/Editor/useEditor/decorators.jsx
  src/components/Editor/useEditor/index.js
  src/components/Table/table.scss
  src/index.scss
Due: nrun lint

make editor (#32)
  .eslintrc
  src/App/index.jsx
  src/components/Editor/Content/editor-content.scss
  src/components/Editor/Content/index.jsx
  src/components/Editor/ContentEditor/editor-content-editor.scss
  src/components/Editor/ContentEditor/index.jsx
  src/components/Editor/RowsNumbers/editor-rows-numbers.scss
  src/components/Editor/RowsNumbers/index.jsx
  src/components/Editor/StatusBar/editor-status-bar.scss
  src/components/Editor/StatusBar/index.jsx
  src/components/Editor/Toolbar/index.jsx
  src/components/Editor/editor.scss
  src/components/Editor/index.jsx
  src/components/Editor/useEditor/constants.js
  src/components/Editor/useEditor/decorators.jsx
  src/components/Editor/useEditor/helpers.js
  src/components/Editor/useEditor/index.js
  src/components/Table/index.jsx
  src/components/Table/table.scss
  src/index.scss
Due: nrun lint

refactor
  src/App/index.jsx
  src/global.scss
  src/index.jsx
Due: none

add header link
  src/App/app.scss
  src/App/index.jsx
  src/components/Header/index.jsx
  src/global.scss
Due: none

make table filling
  .eslintrc
  package-lock.json
  package.json
  src/App/index.jsx
  src/components/Editor/RowsNumbers/Item.jsx
  src/components/Editor/RowsNumbers/index.jsx
  src/components/Editor/index.jsx
  src/components/Editor/useEditor/constants.js
  src/components/Editor/useEditor/decorators.jsx
  src/components/Editor/useEditor/index.js
  src/components/GrammarSetTable.jsx
  src/components/index.js
  src/helpers/grammar.js
Due: nrun lint

make table filling (#33)
  .eslintrc
  package-lock.json
  package.json
  src/App/index.jsx
  src/components/Editor/RowsNumbers/Item.jsx
  src/components/Editor/RowsNumbers/index.jsx
  src/components/Editor/index.jsx
  src/components/Editor/useEditor/constants.js
  src/components/Editor/useEditor/decorators.jsx
  src/components/Editor/useEditor/index.js
  src/components/GrammarSetTable.jsx
  src/components/index.js
  src/helpers/grammar.js
Due: nrun lint

refactor folders
  src/components/Header/index.jsx
  src/components/Layout/Header/index.jsx
  src/components/Layout/Header/layout-header.scss
  src/components/Layout/index.jsx
  src/components/Layout/layout.scss
  src/components/index.js
  src/index.jsx
  src/pages/Main/index.jsx
  src/pages/Main/main.scss
  src/pages/index.js
Due: nrun lint

refactor folders (#34)
  src/components/Header/index.jsx
  src/components/Layout/Header/index.jsx
  src/components/Layout/Header/layout-header.scss
  src/components/Layout/index.jsx
  src/components/Layout/layout.scss
  src/components/index.js
  src/index.jsx
  src/pages/Main/index.jsx
  src/pages/Main/main.scss
  src/pages/index.js
Due: nrun lint

add success label
  src/components/Editor/index.jsx
  src/pages/Main/index.jsx
Due: none

improve success label hiding
  src/components/Button/button.scss
  src/components/Editor/index.jsx
  src/components/Editor/useEditor/index.js
Due: nrun lint

make visual improvements (#35)
  src/components/Button/button.scss
  src/components/Editor/index.jsx
  src/components/Editor/useEditor/index.js
  src/pages/Main/index.jsx
Due: nrun lint

Path conditions:
  nrun lint: any of: *.js
  nrun spellcheck: any of: *.md
