Repository MikeDevice/first-follow: changes, and which lint-staged commands are due for each by the changed paths.
All: nrun lint, nrun spellcheck

.lintstagedrc:

{
  "*.js": "nrun lint",
  "*.md": "nrun spellcheck",
}

remove unused documentation
  .gitignore
  CHANGELOG.md
  package-lock.json
  package.json
Due: nrun spellcheck

decrease library size
  CHANGELOG.md
  README.md
  lib/index.js
  package.json
Due: nrun lint, nrun spellcheck

refactor similar code
  lib/index.js
Due: nrun lint

decrease size
  lib/index.js
Due: nrun lint

refactor
  lib/helpers.js
  lib/index.js
  test/helpers.test.js
Due: nrun lint

refactor
  lib/index.js
Due: nrun lint

set new size
  README.md
  package.json
Due: nrun spellcheck

update CHANGELOG.md
  CHANGELOG.md
Due: nrun spellcheck

refactor
  CHANGELOG.md
  README.md
  lib/index.js
  package.json
Due: nrun lint, nrun spellcheck

refactor
  CHANGELOG.md
  README.md
  index.js
  lib/helpers.js
  package-lock.json
  package.json
  test/helpers.test.js
  test/lib.test.js
Due: nrun lint, nrun spellcheck

update CHANGELOG.md
  .yaspellerrc
  CHANGELOG.md
Due: nrun spellcheck

improve spell checking
  .yaspellerrc
  CHANGELOG.md
Due: nrun spellcheck

refactor
  CHANGELOG.md
Due: nrun spellcheck

refactor similar code (#28)
  .yaspellerrc
  CHANGELOG.md
  README.md
  index.js
  lib/helpers.js
  lib/index.js
  package-lock.json
  package.json
  test/helpers.test.js
  test/lib.test.js
Due: nrun lint, nrun spellcheck

4.0.2
  package-lock.json
  package.json
Due: none

update devDependencies
  package-lock.json
  package.json
Due: none

4.0.3
  package-lock.json
  package.json
Due: none

add basic build configuration
  .babelrc
  .eslintignore
  .eslintrc
  package-lock.json
  package.json
  src/index.jsx
  webpack/.eslintrc
  webpack/common.js
  webpack/development.js
  webpack/index.js
  webpack/production.js
Due: nrun lint

add hot reload
  .babelrc
  package-lock.json
  package.json
  src/App/index.jsx
  src/index.jsx
  webpack/common.js
  webpack/development.js
  webpack/production.js
Due: nrun lint

add scss loaders for development
  package-lock.json
  package.json
  src/App/index.jsx
  src/App/index.scss
  webpack/common.js
Due: nrun lint

add scss loader for production
  package-lock.json
  package.json
  webpack/common.js
  webpack/development.js
  webpack/production.js
Due: nrun lint

add autoprefixer
  package-lock.json
  package.json
  postcss.config.js
  webpack/production.js
Due: nrun lint

add analyzer
  package-lock.json
  package.json
  webpack/production.js
Due: nrun lint

add size-limit
  package-lock.json
  package.json
Due: none

add license-checker-webpack-plugin
  package-lock.json
  package.json
  webpack/production.js
Due: nrun lint

improve license plugin usage
  webpack/production.js
Due: nrun lint

add stylelint
  .stylelintrc
  package-lock.json
  package.json
Due: none

add lint-staged
  package-lock.json
  package.json
Due: none

improve object-curly-spacing eslint rule
  .eslintrc
  src/App/index.jsx
Due: none

fix lint
  src/index.jsx
  webpack/common.js
  webpack/development.js
  webpack/production.js
Due: nrun lint

add some styles
  .gitignore
  src/App/index.jsx
  src/App/index.scss
  src/index.html
Due: none

make table basics
  .eslintrc
  package-lock.json
  package.json
  src/App/app.scss
  src/App/index.jsx
  src/components/Table/index.jsx
  src/components/Table/table.scss
  src/components/index.js
  src/index.jsx
  src/index.scss
Due: nrun lint

improve table
  package-lock.json
  package.json
  src/App/index.jsx
  src/components/Table/index.jsx
  src/components/Table/table.scss
Due: none

fix table color
  src/App/index.jsx
  src/components/Table/table.scss
Due: none

refactor styles
  src/App/app.scss
  src/App/index.jsx
  src/App/main.scss
  src/components/Header/header.scss
  src/components/Header/index.jsx
  src/components/index.js
  src/index.scss
Due: nrun lint
