Repository MikeDevice/first-follow: changes, and which lint-staged commands are due for each by the changed paths.
All: nrun lint, nrun spellcheck

make grammar sync
  src/components/Editor/index.jsx
  src/components/Editor/useEditor/index.js
  src/components/Section/index.jsx
  src/components/Section/section.scss
  src/global.scss
  src/pages/Main/index.jsx
Due: nrun lint

make grammar sync (#36)
  src/components/Editor/index.jsx
  src/components/Editor/useEditor/index.js
  src/components/Section/index.jsx
  src/components/Section/section.scss
  src/global.scss
  src/pages/Main/index.jsx
Due: nrun lint

update dependencies
  package-lock.json
  package.json
Due: none

refactor webpack config
  package-lock.json
  package.json
  src/index.jsx
  webpack/common.js
  webpack/development.js
  webpack/production.js
Due: nrun lint

refactor
  package-lock.json
  package.json
  webpack/production.js
Due: nrun lint

edit size-limit config
  package.json
Due: none

refactor webpack config (#37)
  package-lock.json
  package.json
  src/index.jsx
  webpack/common.js
  webpack/development.js
  webpack/production.js
Due: nrun lint

refactor config
  package.json
  src/index.jsx
  webpack/common.js
  webpack/development.js
  webpack/production.js
Due: nrun lint

refactor
  webpack/common.js
  webpack/development.js
  webpack/production.js
Due: nrun lint

edit path
  webpack/common.js
Due: nrun lint

fix hot reload and refactoring (#38)
  package.json
  src/index.jsx
  webpack/common.js
  webpack/development.js
  webpack/production.js
Due: nrun lint

fix PropTypes
  src/components/Editor/useEditor/decorators.jsx
Due: none

fix development build
  webpack/common.js
Due: nrun lint

add release script
  package.json
Due: none

change default grammar
  src/pages/Main/index.jsx
Due: none

configure build comments output
  webpack/production.js
Due: nrun lint

update dependencies
  package-lock.json
Due: none

remove old folder from ignore files
  .eslintignore
  .gitignore
Due: none

edit .gitignore
  .gitignore
Due: none

add .stylelintignore
  .stylelintignore
Due: none

make build
  build/1.b9d59b3353459f47e767.css
  build/ThirdPartyNotices.txt
  build/main.1c7503525c2e256be106.css
  build/main.bcdb7f6731aa0c615e25.js
  build/vendors~main.33754b61678093e77830.js
  index.html
Due: nrun lint

2.0.0
  package-lock.json
  package.json
Due: none

move CleanWebpackPlugin to production config
  webpack/common.js
  webpack/production.js
Due: nrun lint

edit lint-staged scripts
  package.json
Due: none

fix cursor positioning
  src/components/Editor/ContentEditor/editor-content-editor.scss
Due: none

build
  build/main.1c7503525c2e256be106.css
  build/main.42f086b0a4a8595e9ed2.css
  build/vendors~main.33754b61678093e77830.js
  index.html
Due: nrun lint

2.0.1
  package-lock.json
  package.json
Due: none

update devDependencies
  CHANGELOG.md
  package-lock.json
  package.json
Due: nrun spellcheck

4.0.5
  package-lock.json
  package.json
Due: none

update CHANGELOG.md
  CHANGELOG.md
Due: nrun spellcheck

4.0.6
  package-lock.json
  package.json
Due: none

decrease editor font-size on mobile
  src/components/Editor/editor.scss
Due: none

build
  build/main.42f086b0a4a8595e9ed2.css
  build/main.d09ea5d799e828f0ccaf.css
  build/vendors~main.33754b61678093e77830.js
  index.html
Due: nrun lint

2.0.2
  package-lock.json
  package.json
Due: none

make hiding logic
  .eslintrc
  src/components/GrammarSetTable.jsx
  src/components/Table/table.scss
  src/pages/Main/index.jsx
Due: none

add switcher
  src/components/Switcher/index.jsx
  src/components/Switcher/switcher.scss
  src/components/index.js
  src/global.scss
  src/pages/Main/index.jsx
Due: nrun lint

Path conditions:
  nrun lint: any of: *.js
  nrun spellcheck: any of: *.md
