Repository MikeDevice/first-follow: changes, and which lint-staged commands are due for each by the changed paths.
All: nrun lint, nrun spellcheck

.lintstagedrc:

{
  "*.js": "nrun lint",
  "*.md": "nrun spellcheck",
}

add docs (#20)
  .gitignore
  .lintstagedrc
  .npmignore
  .travis.yml
  .yaspellerrc
  lib/Grammar.js
  package-lock.json
  package.json
Due: nrun lint

3.1.0
  package-lock.json
  package.json
Due: none

refactor
  lib/Grammar.js
  lib/constants.js
  lib/helpers.js
  test/helpers.test.js
Due: nrun lint

add tests for helpers
  lib/Grammar.js
  lib/helpers.js
  test/helpers.test.js
Due: nrun lint

refactor
  index.js
  lib/Grammar.js
  lib/helpers.js
  package.json
  test/lib.test.js
Due: nrun lint

edit size and descriptions
  README.md
  package.json
Due: nrun spellcheck

refactor arrays to sets (#21)
  README.md
  index.js
  lib/Grammar.js
  lib/constants.js
  lib/helpers.js
  package.json
  test/helpers.test.js
  test/lib.test.js
Due: nrun lint, nrun spellcheck

3.2.0
  package-lock.json
  package.json
Due: none

update dependencies and make some edits in .travis.yml
  .travis.yml
  package-lock.json
  package.json
Due: none

update dependencies and make some edits in .travis.yml (#23)
  .travis.yml
  package-lock.json
  package.json
Due: none

3.2.1
  package-lock.json
  package.json
Due: none

update devDependencies
  package-lock.json
  package.json
Due: none

3.2.2
  package-lock.json
  package.json
Due: none

refactor helpers
  lib/helpers.js
  test/helpers.test.js
Due: nrun lint

refactor tests
  test/helpers.test.js
Due: nrun lint

refactor Grammar
  .eslintrc.json
  lib/Grammar.js
  lib/constants.js
  lib/index.js
  package.json
Due: nrun lint

change size
  README.md
  package.json
Due: nrun spellcheck

refactor (#24)
  .eslintrc.json
  README.md
  lib/Grammar.js
  lib/constants.js
  lib/helpers.js
  lib/index.js
  package.json
  test/helpers.test.js
Due: nrun lint, nrun spellcheck

3.3.0
  package-lock.json
  package.json
Due: none

Create CHANGELOG.md
  CHANGELOG.md
Due: nrun spellcheck

fix yaspeller rules
  .yaspellerrc
  CHANGELOG.md
Due: nrun spellcheck

create CHANGELOG.md (#25)
  .yaspellerrc
  CHANGELOG.md
Due: nrun spellcheck

Update README.md
  README.md
Due: nrun spellcheck

change some configuration
  .travis.yml
  jest.config.js
  package-lock.json
  package.json
Due: nrun lint

remove class
  README.md
  lib/index.js
  package.json
  test/fixtures.js
  test/lib.test.js
Due: nrun lint, nrun spellcheck

update CHANGELOG.md
  CHANGELOG.md
Due: nrun spellcheck

some changes
  .yaspellerrc
  CHANGELOG.md
Due: nrun spellcheck

remove class and replace it with function (#26)
  .travis.yml
  .yaspellerrc
  CHANGELOG.md
  README.md
  jest.config.js
  lib/index.js
  package-lock.json
  package.json
  test/fixtures.js
  test/lib.test.js
Due: nrun lint, nrun spellcheck

4.0.0
  package-lock.json
  package.json
Due: none

move to monorepo
  .eslintrc.json
  .gitignore
  .huskyrc
  .lintstagedrc
  .npmignore
  .travis.yml
  .yaspellerrc
  lerna.json
  package-lock.json
  package.json
  packages/first-follow/LICENSE
  packages/first-follow/README.md
  packages/first-follow/jest.config.js
  packages/first-follow/lib/helpers.js
  packages/first-follow/lib/index.js
  packages/first-follow/package-lock.json
  packages/first-follow/package.json
  packages/first-follow/test/.eslintrc.json
  packages/first-follow/test/fixtures.js
  packages/first-follow/test/helpers.test.js
  packages/first-follow/test/lib.test.js
Due: nrun lint, nrun spellcheck

add README.md file to root
  README.md
  packages/first-follow/package.json
Due: nrun spellcheck

edit .travis.yml
  .travis.yml
Due: none

update CHANGELOG.md
  CHANGELOG.md
  package.json
Due: nrun spellcheck

remove jest.config.js
  package.json
  packages/first-follow/jest.config.js
Due: nrun lint

update devDependencies
  CHANGELOG.md
  package-lock.json
  package.json
Due: nrun spellcheck

4.0.1
  package-lock.json
  package.json
Due: none

remove .npmignore file and add "files" field to package.json
  .npmignore
  package.json
Due: none
